
@{
    ViewBag.Title = "Create";
}

<form method="post">
    <h2>Create Product</h2>

    <label>Name</label>
    <input type="text" name="name" />


    <label>Description</label>
    <input type="text" name="Description" />


    <label>Price</label>
    <input type="text" name="Price" />

    <button type="submit">Save</button>
</form>