@model CategoryViewModels

@{
    ViewBag.Title = "Create";

    //var truechecked = Model.IsFeatured ? "checked" : string.Empty;
    //var falsechecked = !Model.IsFeatured ? "checked" : string.Empty;
    var imageURL = "/Content/Images/Default_image.jpg";
}

@*<form method="post">
    <h2>Create Category</h2>

    <label>Name</label>
    <input type="text" name="name" />


    <label>Description</label>
    <input type="text" name="Description" />

    <label>Is Featured</label>
    <input name="IsFeatured" type="radio" value="True" checked   /> True
    <input name="IsFeatured" type="radio" value="False"  /> False <br/>

    <label>Image</label>
    <input id="ImageURL" type="hidden" name="ImageURL"/>
    <input id="changeimg" type="file" name="image" accept=".png .jpg"/>

    <img id="imageshow"/>

    <button type="submit">Save</button>

</form>*@

<form id="createCategory" >
    <div class="mb-2 ml-5">

        <label>Name</label>
        <input class="form-control form-control-lg" type="text" name="name" />


        <label>Description</label>
        <input class="form-control form-control-lg" type="text" name="Description" />

        <label>Is Featured</label><br />
        <input name="IsFeatured" type="radio" value="True" checked /> True
        <input name="IsFeatured" type="radio" value="False" /> False 
        <br />
        <label>Image</label>
        <input class="form-control form-control-lg" type="hidden"  id="ImageURL" name="ImageURL" />
        <input class="form-control form-control-lg" id="changeimg" type="file" name="image" accept=".png .jpg" />
        <div  class="thumb w-25 h-25 ">
            <img id="imageshow" src="@imageURL"  />
        </div>
        <br />
        <button id="savebtn" type="button" class="btn btn-primary form-control form-control-lg">Save</button>
    </div>
</form>


<script>

    $("#savebtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Category")',//'/Category/Create',
            data: $("#createCategory").serialize()
        }).done(function (response) {
            $("#tableContiner").html(response);
            $("#createCategory").html("");
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    });

    $("#changeimg").change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',//'/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData:false
        }).done(function (response) {

            console.log(response);

            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#imageshow").attr("src",response.ImageURL);
            }

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    })
</script>