@model CategoryViewModels

@{
    ViewBag.Title = "Create";

    //var truechecked = Model.IsFeatured ? "checked" : string.Empty;
    //var falsechecked = !Model.IsFeatured ? "checked" : string.Empty;
    var imageURL = "/Content/Images/Default_image.jpg";
}

@*<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>*@

@*<form method="post">
    <h2>Create Category</h2>

    <label>Name</label>
    <input type="text" name="name" />


    <label>Description</label>
    <input type="text" name="Description" />

    <label>Is Featured</label>
    <input name="IsFeatured" type="radio" value="True" checked   /> True
    <input name="IsFeatured" type="radio" value="False"  /> False <br/>

    <label>Image</label>
    <input id="ImageURL" type="hidden" name="ImageURL"/>
    <input id="changeimg" type="file" name="image" accept=".png .jpg"/>

    <img id="imageshow"/>

    <button type="submit">Save</button>

</form>*@

<form id="createCategory" >
    <div class="mb-2 ml-5">

        <label>Name</label>
        <input class="form-control form-control-lg" type="text" name="name" />


        <label>Description</label>
        <input class="form-control form-control-lg" type="text" name="Description" />

        <label>Is Featured</label><br />
        <input name="IsFeatured" type="radio" value="True" checked /> True
        <input name="IsFeatured" type="radio" value="False" /> False 
        <br />
        <label>Image</label>
        <input class="form-control form-control-lg" type="hidden"  id="ImageURL" name="ImageURL" />
        <input class="form-control form-control-lg" id="changeimg" type="file" name="image" accept=".png .jpg" />
        <div  class="thumb w-25 h-25 ">
            <img id="imageshow" src="@imageURL"  />
        </div>
        <br />
        <button id="savebtn" type="button" class="btn btn-primary form-control form-control-sm">Save</button>
        <button id="cancelbtn" type="button" class="btn btn-primary form-control form-control-sm">Cancel</button>

    </div>
</form>


<script>

    $("#savebtn").click(function () {
        if ($('#createCategory').valid()) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Category")',//'/Category/Create',
                data: $("#createCategory").serialize()
            }).done(function (response) {

                $("#tableContiner").html(response);
                $("#createCategory").html("");
                focusAction("tableContiner");

            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                swal({
                    title: "Warning",
                    text: "Please enter all required fields",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,

                });
            });
        }
        else {
            swal({
                title: "JS Warning",
                text: "Please enter all required fields",
                icon: "warning",
                buttons: true,
                dangerMode: true,

            })
        }
       
    });

 
        //$("#createCategory").validate({
        //    rules: {
        //        "name": {
        //            required: true,
        //            minlength: 5
        //        },
        //        "Description": {
        //            required: true,
           
        //        }
        //    },
        //    messages: {
        //        "name": {
        //            required: "Please, enter a name"
        //        },
        //        "Description": {
        //            required: "Please, enter an Description",
                  
        //        }
        //    }
        
        //});




    $("#cancelbtn").click(function () {
        $("#createCategory").html("");
        focusAction("tableContiner");
    });

    $("#changeimg").change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',//'/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData:false
        }).done(function (response) {

            console.log(response);

            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#imageshow").attr("src",response.ImageURL);
            }

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    })
</script>
