
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h4>Are you sure you want to delete this categoty?</h4>
<form method="post">
    <h2>Create Category</h2>

    <label>ID</label>
    <input type="text" name="name" value="@Model.ID" />

    <button type="submit">Yes Delete</button>
</form>

<a href="/Index">Cancel</a>